{% extends 'basic_templates/base.html' %}

<!--Название страницы-->
{% block title %}Лента{% endblock %}

<!--Шапка-->
{% block title_of_page %}
{{super()}}
{% endblock %}

{% block page_name %}Все посты{% endblock %}

{% block reference_right %}
{{super()}}
{% endblock %}


{% block ref_right %}/search{% endblock %}
{% block picture_ref_right %}static/img/discover.png{% endblock %}



<!--    Тело-->
{% block head %}
{{super()}}
{% endblock %}


<!--Скрытие блоки-->

{% block reference_left %}{% endblock %}
{% block search %}{% endblock %}
{% block comments_full %}{% endblock %}
{% block errors %}{% endblock errors %}
{% block head_one_post %}{% endblock %}